client/node_modules/
client/.env
client/.env.local
build
client/package-lock.json
.cache
.temp
.env
.env.local
.env.*.local
.pnp.*
.cache/
.next

server/node_modules/
server/package-lock.json
node_modules/
package-lock.json
server/.env
server/.env.local
